body {
  font-family: Verdana, sans-serif;
  background-color: black;
  text-align: center;
  color: white;
}

h1 {
  text-align: center;
  color: white;
  font-family: Verdana;
  font-weight: bold;
  font-size: 50px;
}

h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

.cta {
  color: Aquamarine;
  font-size: 16px;
}

p {
    color: Gray;
    font-size: 21px;
}

.footer {
  text-align: right;
}
